.right-content-number {
  padding: 20px 10px;
  color: white;

  .calculate {
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding-right: 5px;
  }

  .result {
    font-size: 60px;
    text-align: right;
    margin: 0;
    font-weight: lighter;
  }
}
