.container {
  width: 400px;
  margin: auto;
  height: auto;
  text-align: center;


  .iphone-frame {
    border: 14px solid #1A202C;
    border-radius: 12px;
    background-color: black;
    user-select: none;

    .calculator{
      background-color: #1A202C;
      padding-bottom: 40px;
      padding-top: 40px;

      .right-content-number {
        padding: 20px 10px;
        color: white;

        .calculate {
          font-size: 16px;
          text-align: right;
          margin: 0;
          padding-right: 5px;
        }

        .result {
          font-size: 60px;
          text-align: right;
          margin: 0;
          font-weight: lighter;
        }
      }

      .el-group {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 10px 7px;
        padding-left: 12px;
      }
    }
  }
}