.container {
  width: 400px;
  margin: auto;
  height: auto;
  text-align: center;


  .iphone-frame {
    border: 14px solid #1A202C;
    border-radius: 12px;
    background-color: black;
    user-select: none;

    .calculator{
      background-color: #1A202C;
      padding-bottom: 40px;
      padding-top: 40px;

      .el-group {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 10px 7px;
        padding-left: 12px;
      }
    }
  }
}