.container {
  width: 400px;
  margin: auto;
  height: auto;
  user-select: none;

  .iphone-frame {
    border: 14px solid black;
    border-radius: 12px;
    background-color: black;

    .calculator{
      background-color: #1A202C;
      padding-bottom: 40px;
      padding-top: 40px;

      .right-content-number {
        padding: 20px 10px;
        color: white;

        .calculate {
          font-size: 16px;
          text-align: right;
          margin: 0;
          padding-right: 5px;
        }

        .result {
          font-size: 60px;
          text-align: right;
          margin: 0;
          font-weight: lighter;
        }
      }

      .el-group {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 10px 7px;
        padding-left: 12px;
        .el {
          cursor: pointer;
          width: 82px;
          height: 82px;
          background-color: #bbb;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: bold;
          color: white;
        }
        .el-l {
          cursor: pointer;
          width: 174px;
          height: 82px;
          background-color: #bbb;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: bold;
          color: white;

        }
      }
    }
  }
}